@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

* {
	font-family: 'Roboto', sans-serif;
	margin-bottom: 10px;
}

body {
	background: #333333;
	color: white;
	margin: 0;
	overflow: hidden;
}

#ui {
	height: 100vh;
	box-sizing: border-box;
	padding: 10px;
	margin: 0;
}

canvas {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
